<!DOCTYPE html>
<html>
<head>
	<title>Project model</title>
	<%- include ("./../../partials/head") %>
</head>
<body>
	<%- include ("./../../partials/header") %>

	<section class="container h-center">
		<%- include ("./components/create-form") %>
		<%- include ("./components/filter-form") %>
	</section>

	<%- include ("./../../partials/loader") %>
</body>
<footer>
	<%- include ("./../../partials/footer") %>
	<script src="/scripts/product/model.js"></script>
	<script src="/scripts/product/image.js"></script>
	<%- include ("./components/create-script") %>
	<%- include ("./components/filter-script") %>
	<%- include ("./components/image-upload-script") %>
	<%- include ("./components/image-script") %>
</footer>
</html>